.solo-matching-pairs-board-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.solo-matching-pairs-board-wrapper.game-complete {
  grid-template-columns: 1fr;
}

.classic-mode-details-panel {
  padding: 1rem;
  box-shadow: 0 8px 12px 0 var(--box-shadow-color);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 0.875rem;
  border-right: 2px solid var(--border-color);
}

.classic-mode-main-panel {
  padding: 1rem;
  display: grid;
  place-items: center;
  user-select: none;
}

.matching-pairs-grid {
  display: grid;
  gap: 0.875rem;
}

.matching-pairs-grid-cell-wrapper {
  width: 100%;
  height: 100%;
}

.matching-pairs-grid-cell {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  overflow: hidden;
  display: grid;
  place-items: center;
}
